@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
    font-style: italic;

}

:root {
    --clr-primary: hsl(47, 88%, 63%);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-400: hsl(0, 0%, 50%);
    --clr-neutral-900: hsl(0, 0%, 7%);

    --ff-primary: 'Figtree', sans-serif;
    --fw-regular: 500;
    --fw-semi: 600;
    --fw-bold: 800;
    --fs-200: .75rem;
    --fs-300: .875rem;
    --fs-400: 1rem;

    --border-radius: 20px;


}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
    font-style: normal;
    background-color: var(--clr-primary);
    line-height: 1.5;
}

img {
    display: block;
    width: 100%;
}

.container {
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.card {
    background-color: var(--clr-neutral-100);
    border: 1px solid var(--clr-neutral-900);
    border-radius: var(--border-radius);
    padding: 1.5rem;
    width: 327px;
    display: grid;
    gap: 1.5rem;
    box-shadow: 16px 16px 0px 0px #000;
}

.img-wrapper {
    overflow: hidden;
    display: flex;
}

.img-wrapper.hero {
    border-radius: calc(var(--border-radius) / 2)
}

.card__body {
    display: grid;
    gap: .75rem;
}

.card__body__tag {
    background-color: var(--clr-primary);
    display: flex;
    width: fit-content;
    padding: 4px 12px;
    border-radius: calc(var(--border-radius) / 4);
    font-size: var(--fs-300)
}

.card__body__date {
    font-size: var(--fs-200);
}

.card__body__title {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    font-weight: var(--fw-bold);
}

.card__body__title:hover {
    color: var(--clr-primary);
}

.card__body__caption {
    font-size: var(--fs-300);
    font-weight: var(--fw-regular);
    color: var(--clr-neutral-400)
}



.card__body__author-container {
    display: flex;
    align-items: center;
    gap: 12px
}

.img-wrapper.avatar {
    border-radius: 50%;
    width: 32px;
}

.card__body__author-container p {
    font-size: var(--fs-300);
    font-weight: var(--fw-bold);
}

.attribution {
    z-index: -1;
    width: 100%;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width:768px) {
    .card {

        width: 384px
    }
}